@import '../../styles/colors';
@import '../../styles/variables';

.logo {
  width: $spacing-40;
  height: $spacing-40;

  &-link {
    text-decoration: none;
  }

  &-title {
    font-family: "Source Sans Pro";
    font-weight: bold;
    color: $c-secondary-yellow-dark;
    margin-left: $spacing-10;
  }
}
