@import "../../styles/variables";
@import "../../styles/colors";

.breadcrumbs-container {
  list-style-type: none;
  padding-left: $spacing-15;

  .breadcrumb-link {
    cursor: pointer;
    color: $c-brand-green;
    font-weight: 500;

    &-last {
      color: $c-black;
    }

    &:hover {
      text-decoration: underline;
      text-underline-position: under;
    }
  }
}
