$c-black: #000;
$c-white: #fff;

$c-brand-grey: #464646;
$c-brand-green: #1dd069;

$c-secondary-red: #b91109;
$c-secondary-red-dark: #7c0e14;
$c-secondary-red-light: #f54a2b;

$c-secondary-yellow: #ffcc15;
$c-secondary-yellow-dark: #ffbb00;
$c-secondary-yellow-light: #ffea62;

$c-secondary-blue: #0088a0;
$c-secondary-blue-dark: #085064;
$c-secondary-blue-light: #00cbdb;

$c-grey: #c5c4cf;
$c-grey-light: #eeeff1;
$c-grey-semi: #e0e2e9;
$c-grey-dark: #93939f;
$c-grey-popup-background: #464646;

$c-grey-disabled-background: #f5f5f5;
$c-grey-disabled-font: #b7b8c1;
$c-grey-checkbox: #cecece;

$c-arrow-green: #1dd068;
$c-arrow-yellow: #ffbb00;
$c-arrow-red: #f5492b;

$c-status-green: #008000;
$c-status-orange: #FF8C00;
$c-status-red: #FF0000;
