// Note: 16px = 1 rem
$spacing-1: 0.0625rem;
$spacing-2: 0.125rem;
$spacing-4: 0.25rem;
$spacing-5: 0.3125rem;
$spacing-7: 0.438rem;
$spacing-8: 0.5rem;
$spacing-10: 0.625rem;
$spacing-11: 0.6875rem;
$spacing-12: 0.75rem;
$spacing-14: 0.875rem;
$spacing-15: 0.9375rem;
$spacing-16: 1rem;
$spacing-18: 1.125rem;
$spacing-20: 1.25rem;
$spacing-22: 1.375rem;
$spacing-24: 1.50rem;
$spacing-25: 1.5625rem;
$spacing-27: 1.67rem;
$spacing-28: 1.75rem;
$spacing-29: 1.8125rem;
$spacing-30: 1.875rem;
$spacing-40: 2.5rem;
$spacing-43: 2.67rem;
$spacing-48: 3rem;
$spacing-50: 3.125rem;
$spacing-60: 3.75rem;
$spacing-80: 5rem;
$spacing-85: 5.313rem;
$spacing-90: 5.625rem;
$spacing-100: 6.25rem;
$spacing-115: 7.188rem;
$spacing-150: 9.375rem;
$spacing-200: 12.50rem;
$spacing-250: 15.625rem;
$spacing-350: 21.88rem;

$font-weight-100: 100;
$font-weight-500: 500;
$font-weight-700: 700;
$font-weight-900: 900;

