<div class="modal-container"
     [ngSwitch]="data.action">
  <h1 mat-dialog-title>{{capitalize(data.action)}} LGA</h1>
  <div mat-dialog-content
       *ngSwitchCase="actionType.DELETE">
    <p>Are you certain to remove this LGA?</p>
  </div>

  <ng-container *ngSwitchDefault>
    <form [formGroup]="form"
          *ngIf="data">
      <div mat-dialog-content>
        <mat-form-field>
          <input type="text"
                 matInput
                 placeholder="Name"
                 formControlName="name"
                 required>
        </mat-form-field>

        <mat-form-field>
          <mat-select [placeholder]="administrativeUnitLabel"
                      required
                      formControlName="stateId">
            <mat-option>
              <ngx-mat-select-search [formControl]="statesFilterControl"
                                     placeholderLabel="Search"
                                     noEntriesFoundLabel="No State found">
              </ngx-mat-select-search>
            </mat-option>
            <mat-option *ngFor="let option of filteredStates"
                        [value]="option.id">
              {{option.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </form>
  </ng-container>

  <div class="dialog-buttons-container"
       mat-dialog-actions>
    <button mat-flat-button
            mat-dialog-close>
      Cancel
    </button>
    <button mat-stroked-button
            color="primary"
            [disabled]="loading"
            (click)="onConfirm()">
      Confirm
    </button>
  </div>
</div>
